.form-group mx-sm-3 mb-2 {
  width: 100px;
}

.sr-only {
  width: 150px;
}

.form-group mx-sm-3 mb-2 {
  width: 10rem;
}

.form-control {
  width: 30rem;
}

.btn btn-primary mb-2 {
  width: 6rem;
  background-color: "#281e5a";
  border-radius: 3p;
  border: none;
  color: #fff;
  font-family: Karla;
}

.col1 {
  font-family: Karla, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: #281e5a;
  text-transform: uppercase;
}

.h5 {
  margin-left: 17px;
}
.footer-row {
  height: 8rem;
  color: #281e5a;
  background: #f0f0f0;
  margin-left: -24px;
}

/* .footer {
  height: 8rem;
  color: #281e5a;
  background: #f0f0f0;
} */

.colom1 {
  font-size: 14px;
  margin-right: 168px;
}
.colom2 {
  font-size: 14px;
  margin-right: 180px;
}
.colom3 {
  font-size: 14px;
  /* margin-top: 22px; */
  margin-right: 180px;
}
.colom4 {
  font-size: 14px;
  margin-right: 183px;

  /* margin-top: 22px; */
}
.colom5 {
  font-size: 14px;
  margin-top: 2px;
  margin-right: 175px;
  display: inline-block;
  text-align: right;

  width: 20px;
}

.appkami {
  margin-top: 10px;
}

.paragraf {
  display: block;
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
  line-height: 2.5;
  font-size: 14px;
  font-family: Karla, sans-serif;
}

.paragraf1 {
  display: block;
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
  line-height: 2.5;
  font-size: 14px;
  font-family: Karla, sans-serif;
  margin-top: 50px;
}

.colom1 {
  margin-left: 15px;
}

.paragraf1 {
  margin-left: 15px;
}
.paragraf {
  margin-left: 15px;
  text-decoration: none;
  cursor: pointer;
  display: block;
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
  line-height: 2.5;
  font-size: 14px;
  font-family: Karla, sans-serif;
}

.parag {
  text-decoration: none;
  cursor: pointer;
  display: block;
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
  line-height: 2.5;
  font-size: 14px;
  font-family: Karla, sans-serif;
}
.paragraf2 {
  display: block;
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
  line-height: 2.5;
  font-size: 14px;
  font-family: Karla, sans-serif;
  margin-top: 50px;
}

.gambar1 {
  height: 45px;
  width: 45px;
  padding: 3px;
  margin-top: 50px;
}

.gambar2 {
  height: 40px;
  width: 40px;
  padding: 5px;
  margin-top: -50px;
  margin-left: -2px;
}

.bca {
  margin-top: 50px;
  /* height: 40px; */
}
.pengiriman {
  margin-top: 40px;
}

.gambar3 {
  width: 45px;
  padding: 3px;
  /* margin-top: 80px; */
  margin-right: 20px;
}

.colom6 {
  margin-top: 145px;
  margin-right: 175px;
}

.app1 {
  width: 150px;
  height: 40px;
  margin-top: 27px;
}

.app2 {
  width: 150px;
  height: 40px;
  margin-top: 12px;
}

#copyright {
  color: #ffffff;
  text-align: center;
  word-wrap: break-word;
  font-size: 14px;
  font-family: Karla, sans-serif;
  box-sizing: border-box;
  margin-top: 6px;
  padding: 8px 0 px;
  margin-left: 35rem;
  margin-bottom: 0px;
}
